@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Kaushan+Script&display=swap');

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa886;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;  
       
}

*{
    margin: 0px;
    padding: 0px;
}

body{
        background-color: var(--cor0);
        font-family: var(--fonte-padrao);       
}

a.externo::after{
    content: '\00A0\1F517';
}
header{
            background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
            min-height: 150px;
            padding-top: 40px;
            text-align: center;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
           
}

header p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    margin-bottom: 0px;     
}

header > h1 {
            color: white;
            font-family: var(--fonte-destaque);
            font-size: 3em;
            margin-bottom: 20px;           
}

        main{
            background-color: white;
            min-width: 300px;
            max-width: 1000px;
            margin: auto;
            padding: 20px;
            box-shadow: 0px 0px 10px black;
            margin-bottom: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
                     
        }

        main h1, h2{
            color: var(--cor5);
            background-image: linear-gradient(to right, var(--cor1), transparent);
            font-weight: normal;
            font-family: var(--fonte-destaque);
            font-size: 2em;
        }

        main img{
            width: 100%;
        }
        .peq{
            max-width: 350px;
            display: block;
            margin: auto;


        }

        nav{
            margin: 0px 0px 0px 0px;
            background-color: var(--cor5);
            padding: 10px;
            box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.452);
            text-align: center;                 
        }

        nav a{
            text-decoration: none;
            color: var(--cor1);
            padding: 10px;
            font-weight: bold;
            border-radius: 5px;
            transition-duration: .5s;
            
        }

        nav a:hover {
            background-color: var(--cor3);
            color: var(--cor5);
        }

        aside{
            background-color: var(--cor1);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
        }

        aside ul{
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 2;
            
        }

        h3{
            background-color: var(--cor4);
            padding: 10px;
            margin: -10px -10px 0px -10px;
            color: white;
            border-radius: 10px 10px 0px 0px;
        }
        .video{
            background-color: var(--cor5);
            margin: 0px -20px 30px -20px;
            padding: 20px;
            padding-bottom: 57%;
            position: relative;

        }
        .video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }

        footer{
            background-color: var(--cor5);
            color: white;
            text-align: center;
            padding: 5px;
            
        }
        footer a{
            text-decoration: none;
            color: white;
            font-weight: bold;

        }

        footer a:hover{
            text-decoration: underline;
            color: var(--cor2);
        }

        p{
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            line-height: 2em;
                      
            
        }

        main strong{
            color: var(--cor4);
            
        }

        main a{
            text-decoration: none;
            font-weight: bold;
            background-color: var(--cor1);
            padding: 5px 5px;
            color: var(--cor5);
        }

        main a:hover{
            text-decoration: underline;
            color: var(--cor4);
        }

        